[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-checked { background: url('../../img/icons-s45f6be1a61.png') 0 -25px no-repeat; width: 9px; height: 8px; }

[class^="btn-"], [class*=" btn-"] { display: inline-block; vertical-align: middle; line-height: 1; cursor: pointer; outline: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; text-decoration: none; border: none; -webkit-border-radius: 3px; border-radius: 3px; }
[class^="btn-"]:hover, [class*=" btn-"]:hover { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }
[class^="btn-"]:active, [class*=" btn-"]:active { -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); }

.btn-large { padding: 15px; font-size: 16px; font-size: 1.6rem; }

.btn-small { padding: 10px; font-size: 14px; font-size: 1.4rem; }

.btn-mini { padding: 5px; font-size: 12px; font-size: 1.2rem; }

.btn-blue { background: #5493e3; color: white; }
.btn-blue:hover { background: #3e85df; }

[class^="input-"], [class*=" input-"] { outline: none; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }
[class^="input-"]:hover, [class*=" input-"]:hover { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }

.input-large { padding: 10px 15px; font-size: 16px; font-size: 1.6rem; }

.input-small { padding: 5px 10px; font-size: 14px; font-size: 1.4rem; }

.input-mini { padding: 2px 5px; font-size: 12px; font-size: 1.2rem; }

.input-default { height: 30px; background: #e8f2ea; border: 1px solid #c6c6c6; padding: 5px 10px; color: #424242; -webkit-border-radius: 3px; border-radius: 3px; font-size: 14px; font-size: 1.4rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.input-default:-moz-placeholder, .input-default::-moz-placeholder { color: #424242; opacity: 1; }
.input-default::-webkit-input-placeholder { color: #424242; }
.input-default:hover { border: 1px solid #b9b9b9; }
.input-default:focus { border: 1px solid #a0a0a0; -webkit-box-shadow: inset 0 1px 2px #b9b9b9; -moz-box-shadow: inset 0 1px 2px #b9b9b9; box-shadow: inset 0 1px 2px #b9b9b9; }

.select { height: 30px; line-height: 28px; background: #e8f2ea; border: 1px solid #c6c6c6; color: #424242; cursor: pointer; position: relative; font-size: 14px; font-size: 1.4rem; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.select span { padding: 0 10px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.select em { font-style: normal; }
.select i { content: ""; position: absolute; right: 10px; top: 50%; height: 6px; margin-top: -3px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: #c6c6c6 transparent transparent transparent; }
.select.is-open { -webkit-border-radius: 3px 3px 0px 0px; border-radius: 3px 3px 0px 0px; }
.select.is-open .select__drop { display: block; }
.select.is-open i { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.select .select__drop { display: none; position: absolute; top: 100%; left: -1px; width: 100%; z-index: 666; background: #e8f2ea; border: 1px solid #c6c6c6; }
.select ul { margin: 0; }
.select li { padding: 0 10px; }
.select li:hover { background: #d8e9db; cursor: pointer; }
.select li span { padding: 0; }

.select_w100 { width: 100%; }

.select_large { width: 555px; font-size: 16px; font-size: 1.6rem; }

.select_small { width: 300px; font-size: 14px; font-size: 1.4rem; }

.select_mini { width: 100px; font-size: 12px; font-size: 1.2rem; }

.select_gray { background: #c78585; border: 1px solid orange; color: white; }
.select_gray .select__drop { background: #c78585; border: 1px solid orange; color: white; }
.select_gray li:hover { background: #bf7474; }

.checkbox { height: 20px; position: relative; display: inline-block; vertical-align: middle; cursor: pointer; font-size: 14px; font-size: 1.4rem; }
.checkbox span { color: #424242; display: inline-block; margin-left: 10px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.checkbox input + span .checkbox__ico { content: ""; position: absolute; top: 0px; left: 0px; width: 20px; height: 20px; border: 1px solid #c2c2c2; background: #e8f2ea; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; border-radius: 3px; }
.checkbox input:checked + span .checkbox__ico:after { content: ""; position: absolute; left: 50%; width: 9px; margin-left: -4.5px; top: 50%; height: 9px; margin-top: -4.5px; background: url('../../img/icons-s45f6be1a61.png') 0 -25px no-repeat; width: 9px; height: 8px; z-index: 666; }
.checkbox input:checked + span { color: red; }

.radio { height: 20px; position: relative; display: inline-block; vertical-align: middle; cursor: pointer; font-size: 12px; font-size: 1.2rem; }
.radio span { display: inline-block; vertical-align: middle; margin-left: 10px; }
.radio input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: relative; }
.radio input + span { color: #424242; }
.radio input + span:before { content: ""; position: absolute; top: 0px; left: 0px; width: 20px; height: 20px; border: 1px solid #c6c6c6; border-radius: 50%; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.radio input:checked + span { color: red; }
.radio input:checked + span:after { content: ""; position: absolute; top: 4px; left: 4px; width: 12px; height: 12px; border-radius: 50%; background: #2a906b; }

.textarea { width: 400px; min-height: 200px; padding: 10px; outline: none; background: #e8f2ea; border: 1px solid #c6c6c6; color: #424242; font-size: 14px; font-size: 1.4rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.textarea:hover { border: 1px solid #b9b9b9; }
.textarea:focus { border: 1px solid #a0a0a0; -webkit-box-shadow: inset 0 1px 2px #b9b9b9; -moz-box-shadow: inset 0 1px 2px #b9b9b9; box-shadow: inset 0 1px 2px #b9b9b9; }
